<a href="https://colab.research.google.com/github/YUNJAEGOONER/Basic_computer_programming_python/blob/main/Chapter4_%EC%97%B0%EC%86%8D%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##연속자료형

### 리스트 
- 여러 개의 값을 가지는 변수
- 대괄화를 사용하여 리스트 정의

ex) temps = [ 27 , 30 , 32 , 34 , 39 , 25 ]

- 하나의 리스트 변수 안에 서로 다른 자료형 포함 가능

ex) num_str = [ 1, 2, 3, "LG", "TWINS"]

- 리스트의 원소가 리스트가 될 수 도 있다.

ex) list_inlist = [ [ 1, 2, 3] , [2, 4, 6] ]

- 인덱스를 활용하여 리스트의 항목에 접근 할 수 있으며, index는 0부터 시작 ( index 범위를 벗아나게 되면 오류 발생 )
  
  +마지막 항목은 -1 로 접근 가능 

- index로 리스트의 항목에 접근해 리스트의 항목 값 변경 가능

- list내의 list의 경우 2차원 배열처럼 [ i ][ j ] 로 접근

- list slicing [ start : end : step ]

-> 처음 항목부터 추출할 때는 start 생략가능, 마지막 항목까지 추출할 때는 end 생략 가능

-> start 부터 end - 1 까지 step 만큼 인덱스를 건너뛰며 추출 ( step 기본 값 : 1)

-> step이 음수이면 뒤에서부터 추출 

###리스트 전용함수
+ list.append(x) : list의 마지막에 x를 추가
+ insert(index, x) : list의 해당 index에 x를 삽입
+ extend([ x1 , x2 ]) : list의 끝에 list [ x1, x2 ] 가 추가
+ pop(index) : list의 해당 index의 항목을 삭제 + index생략 시, 리스트의 마지막 항목이 삭제
+ remove(x) : list에서 처음 발견된 x를 삭제
+ clear() : list의 모든 항목을 삭제
+ count(x) : list에 포함된 x의 개수를 return 
+ index(x) : list에 x가 있다면, 그 위치를 반환
+ sort() : list를 오름차순 정렬 (reverse 의 값을 True로 하게 되면 내림차순으로 정렬)

### 리스트와 제어문
연속자료형 변수는 조건문과 반목문 제어 구조 구현에 매우 효과적
- 멤버 연산자 : " in " , " not in " : 자료형 내에 특정 값이 포함되어 있는가를 확인하는 연산자 

### 리스트와 반복문 
- 리스트 내 모든 항목에 대해 명령문을 반복 ( for문을 이용해 index로 모든 항목에 접근)

In [ ]:
list_inlist = [[0,1,2],[3,4,5],[6,7,8,9],[10,11,12]]

#[6,7,8,9]
print(list_inlist[2]) 

#7
print(list_inlist[2][1])

#list slicicng  
numbers = [10,20,30,40,50,60,70,80,90,100]

#음수로 indexing 하게 되면 뒤에서 부터 접근 가능 ( -1이 맨 끝 )
print(numbers[-1])

#index 0번부터 4번까지 (step의 기본 값 : 1)
print(numbers[0:5])

#step이 2일 때 0번 부터 4번까지 step(2)간격으로 slicing 10[0],30[2],50[4]
print(numbers[0:5:2])

#음수로 slicing (-5번째 부터 -3번째 까지) {60, 70, 80}
print(numbers[-5:-2])

#step이 음수인 경우 : 뒤에서부터 추출 
print (numbers[::-1]) 

# 뒤에서 부터 추출하는데, 스텝이 2인 경우 : [100, 80, 60, 40, 20]
print(numbers[::-2]) 

reverse_numbers = numbers[::-1]
reverse_numbers

[6, 7, 8, 9]
7
100
[10, 20, 30, 40, 50]
[10, 30, 50]
[60, 70, 80]
[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]
[100, 80, 60, 40, 20]

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [ ]:
# 1부터 100까지의 짝수 리스트 만들기
even = []
for i in range (1, 20 , 1):
  if i % 2 == 0:
    even.append(i)

print(even)

lst = [102,102,104]
#list even에 list lst를 extend -> even의 맨뒤에 lst가 추가됨
even.extend(lst)
print(even)

# remove(x) : list에서 가장 먼저 나타난 x를 삭제
even.remove(102)
print(even)

# index(2) : list에서 2의 index를 return
print(even.index(2))

sort_list = [1,5,2,4,3] 
#sort()를 이용해 list 정렬
sort_list.sort()
print(sort_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 102, 102, 104]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 102, 104]
0
[1, 2, 3, 4, 5]

In [ ]:
#멤버연산자 : in , not in

alist = [50,"python",20,'pnu']
print(20 in alist) #20이 alist에 포함되어 있느냐 -> True
print('LG' in alist) #'LG'가 alist에 포함되어 있느냐 -> False
print(50 not in alist) # 50이 alist에 없느냐 -> False (50이 alist에 포함되어있음)
print('twins' not in alist) # 'twins'가 alist에 없느냐 -> True (twins가 alist에 없음)

menu = ["hambuger", "pizza" , "pasta"]
for i in range (0,len(menu),1):
  if(menu[i] == "pizza"):
    print("Oh! pizza")

if "pizza" in menu:
  print("Oh! pizza")

sum = 0
temps = [27,30,32,34,39,25]
for i in temps:
  sum = sum + i;

#소수 두 번째 자리까지 나타내기
print(f"Avg = {sum/len(temps):,.2f}")

True
False
False
True
Oh! pizza
Oh! pizza
Avg = 31.17

##딕셔너리 
+ 사전처럼 키(Key)와 값(Value)으로 된 자료 저장 ( key - value )
+ 중괄호를 사용해 딕셔너리 정의 { key1 : value1 , key2 : value2}
+ key는 숫자형과 문자열, value는 숫자형, 문자열, 리스트가 될 수 있음
+ 한 닥셔너리 안에서 키를 중복할 수 없음

ex) fruit = {'사과':'apple', '바나나':'banana, '파인애플' : 'pineapple'}

+ 쌍으로 이루어진 데이터를 저장하는데 유리
+ 다양한 속성을 가지는 하나의 객체 

ex) user1 = {"이름":"이윤재" , "학과": "정보컴퓨터공학부", "연락처" : "3928" }

+ 리스트의 원소로 딕션너리를 사용할 수 잇다.

students = [ {"이름":"이윤재" , "학과": "정보컴퓨터공학부", "연락처" : "3928" }, {"이름":"박해민" , "학과": "LGTWINS", "연락처" : "1994" } ]

+ key를 이용하여 value를 검색 가능 : dictionary[key] -> value 

ex) fruit = {'사과':'apple', '바나나':'banana, '파인애플' : 'pineapple'}

ex) fruit["사과"] -> apple &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fruit["샤인머스켓"] -> error발생

+ key가 중복되지 않도록 유의하여 dictionary[ key ] = value 로 데이터 추가 (* key가 중복되며 기존의 값이 덮어 써짐)

ex) fruit["샤인머스켓"] = "shinemuscat"

ex) fruit = {'사과':'apple', '바나나':'banana,'샤인머스킷':'shinemuscat' '파인애플' : 'pineapple'}

->key값의 기준에 따라 자동 정렬 (dictionary에서는 순서가 중요하지 않음)

+ del dictionay[ key ]을 통해 데이터 제거하기

ex) del fruit[ '파인애플 ']

-> fruit = {'사과':'apple', '바나나':'banana,'샤인머스킷':'shinemuscat' }

+ del dictionary 하게 되면 dictionary 전체가 삭제됨


##딕셔너리 전용함수
+ get(key , value = None) : 주어진 키를 가지고 값을 찾아 반환, 만약 없으면 value 옵션 내용 반환
-> dic에 해당 key가 없어도 프로그램이 종료되는것이 아닌 value 옵션에 저장된 내용을 반환
+ pop(key) : key에 해당하는 값을 반환하고 항목을 삭제
+ keys() : 딕셔너리 안의 모든 키를 반환
+ values() : 딕셔너리 안의 모든 값을 반환
+ items() : 딕셔너리안의 모든 키와 값을 반환
+ upadate(dic) : 기존 딕셔너리에 딕셔너리 dic를 추가
+ clear() : 딕셔너리의 모든 항목을 제거

###딕셔너리와 제어/반복문
+ 멤버연자를 이용해 dictionary에 특정 key의 존재여부를 알 수 있음 -> key error 방지 
(.keys(), .values()를 이용해 key/value 리스트를 생성할 수 있다.

In [ ]:
#dictionary ( key : vlaue )
food = { "춘천":"닭갈비","횡성": "한우" , "부산" : "밀면" , "전주" :"비빔밥"}
food['부산']
#key error - > food['서울']

#새로운 데이터 추가
food['포항'] = '과메기'

#데이터 삭제
del food['춘천']

#dictionary의 모든 요소 지우기 -> 비어있는 dic가 남아있음
food.clear()

#dictionary 자체를 삭제
del food # food -> NameError: name 'food' is not defined

food = { "춘천":"닭갈비","횡성": "한우" , "부산" : "밀면" , "전주" :"비빔밥"}

In [ ]:
# key는 문자열, 숫자형 / value는 문자열, 숫자형, list도 가능
student1 = {"이름":"이윤재" , "학과": "정보컴퓨터공학부", "연락처" : [10,3928] }
student1

{'연락처': [10, 3928], '이름': '이윤재', '학과': '정보컴퓨터공학부'}

In [ ]:
region = input("지역명: ")
#food 딕셔너리에 region이라는 key값이 없다면 '모르겠습니다'가 출력?
print("대표음식은", food.get(region, '모르겠습니다.'))

print(food.keys())
print(food.values())

if region in food.keys():
  print(food[region])
else:
  print("모르겠습니다")

지역명: 부산
대표음식은 밀면
dict_keys(['춘천', '횡성', '부산', '전주'])
dict_values(['닭갈비', '한우', '밀면', '비빔밥'])
밀면

In [ ]:
menu = {"아이스 아메리카노" : 3000 , "카라멜" : 4000, "유자차" : 3500 }
order = input("메뉴를 입력하세요.")
print(f"가격은 {menu.get(order, '없는메뉴입니다')}원 입니다.")

if order in menu.keys():
  print(f"가격은 {menu[order]}원 입니다.")
else: 
  print('없는 메뉴 입니다.')

메뉴를 입력하세요.카라멜
가격은 4000원 입니다.
가격은 4000원 입니다.

In [ ]:
#리스트의 원소로 딕셔너리가 사용되는 경우 
student1 = {"이름":"이윤재" , "학과": "정보컴퓨터공학부", "연락처" : 3928}
student2 = {"이름":"박해민" , "학과": "LG트윈스", "연락처" : 1994 }

student_list = []
student_list.append(student1)
student_list.append(student2)

for s in student_list:
  print(f"{s['이름']}은 {s['학과']} 소속이고 연락처는 {s['연락처']} 입니다." )

이윤재은 정보컴퓨터공학부 소속이고 연락처는 3928 입니다.
박해민은 LG트윈스 소속이고 연락처는 1994 입니다.