<a href="https://colab.research.google.com/github/YUNJAEGOONER/Basic_computer_programming_python/blob/main/Chapter10_%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##머신러닝
머신러닝(machine learning): 컴퓨터가 자료로부터 유의미한 규칙을 스스로 찾아내는 것

###지도학습 (Supervised learning)
: 문제와 정답(label)을 모두 알려주고 학습 -> 분류, 회기(예측) 

분류 : 범주가 지정되어있음
###비지도 학습 (Unsupervised learning)
: 답을 알려주지 않고 학습 (데이터의 특성을 스스로 파악) -> 군집, 연관 규칙 추출

군집 : 유사한것들을 모아서 한 그룹으로 만들어줌 
###강화학습 (Reinforcement learning)
: 외부 환경과 지속적으로 상호작용하면서 이득을 최대화하는 방식으로 목표 달성 -> 최대 이득

##머신러닝 절차
+ 엔트리 인공지능 확장블록
+ 파이썬 인공지는 관련 패키지/모듈

###머신러닝의 워크플로우
1. 데이터 수집
2. 점검 및 탐색 (데이터간의 관계,자료형 등)
3. 전처리 및 정제 + 테스트 데이터 만들기
4. 모델링 및 훈련 (학습모델 선정)
5. 평가 (새로운 데이터 또는 테스트 데이터를 이용)
6. 배포

-> 평가를 통해 만족한 결과를 얻지 못한 경우 다시 모델링 및 훈련단계로 돌아가 훈련의 횟수를 늘리거나, 다른 학습모델을 사용

###사이킷런(scikit-learn)모듈
+ 파이썬 환경의 머신러닝 공개 모듈
+ 문제의 성격에 따라 다른 알고리즘 선택
+ 어떤 학습모델을 사용하면 좋을지에 대한 map을 제공

###사이킷런 사용 연습
: 키를 이용하여 몸무게를 추정해보기

1. 100명의 키와 몸무게를 담은 파일 weight.csv 사용하여 데이터프레임 생성
2. 데이터 시각화를 통해 자료의 특성 확인
3. 사이킷런 함수를 활용한 학습과 예측

##선형회귀(linearregression)
정의 : 어떤 값이 다른 값에 주는 영향력을 선형적으로 분석하여 입력값에 따른 출력값을 측하는 방법 
+ 단변량 회귀 : 입력값이 한개
+ 다변량 회귀 : 입력값이 여러개

원리 : 처음에 무작위로 y = Wx + b (단변량)를 설정한 뒤 예측값과 실제값의 차이를 반복적으로 계산하면서 모든 학습데이터를 가장 잘 나타낼 수 있는 W와 b를 찾음

1. 데이터 수집 : 7 ~ 9장에서 사용한 car.csv 불러오기 
2. 데이터 점검 : 샘플 개수, 자료형, 빠진 정보의 유무 확인, 정보 간 상관관계를 파악
3.데이터 전처리 : 데이터프레임에서 입력값과 출력값 분리/ 입력값 : "표시연비", 출력값 : CO2배출량 / 평가용 데이터 분리하기 (8 : 2)로 분리 : 가지고 있는 모든 데이터를 학습에 사용하면 해당 데이터에만 잘 동작하는 모델을 생성할 우려 있음, 일부 데이터를 분리해 두었다가 학습 이후 평가에만 사용함으로써 다양한 데이터에 잘 작동하는 예측 모델 생성 가능
4. 학습 및 예측 
- 선형 회귀 모델 : LinearRegression()
- 학습 : fit()
- 예측 : predict()
5. 평가
- score() : 실제 입력값과 출력값을 전달하면 예측 결과와 비교
- 학습 데이터로 평가한 경우 : 83.7% 정확도
- 평가용 데이터로 평가한 경우 : 81.5%정확도 ->학습데이터로 평가했을 때와 큰 차이가 없으므로 일반적인 데이터에 맞는 모데링 학습되었음을 확인

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/2022_기초컴퓨터프로그래밍/기말고사/개념/car.csv')
df

,업체명,모델명,표시연비,배기량,CO2배출량,등급,연간유류비,구분
0,폭스바겐그룹코리아 주식회사,Q2 35 TDI,16.7,1968,111,1,1068548,수입
1,현대자동차㈜,아반떼 1.6GDI 하이브리드 (16“타이어)(22MY),21.1,1580,74,1,982031,국산
2,현대자동차㈜,아반떼 1.6GDI 하이브리드 (17“타이어)(22MY),19.5,1580,81,1,1062608,국산
3,스텔란티스코리아 주식회사,Peugeot New 308 1.5 BlueHDi,17.2,1499,108,1,1037485,수입
4,스텔란티스코리아 주식회사,Peugeot 2008 1.5 BlueHDi,17.1,1499,109,1,1043553,수입
...,...,...,...,...,...,...,...,...
195,메르세데스-벤츠코리아(주),Mercedes-Benz GLB 200 d,14.2,1950,133,2,1256673,수입
196,BMW코리아㈜,BMW 320d xDrive,14.1,1995,134,2,1265585,수입
197,BMW코리아㈜,BMW 320d,14.9,1995,126,2,1197634,수입
198,현대자동차㈜,코나(PE) 1.6T-GDI 2WD 16인치/17인치타이어,13.9,1598,119,2,1490709,국산
199,현대자동차㈜,G70(IK PE) 2.2디젤 2WD_17인치(빌트인캠),14.7,2199,129,2,1213929,국산

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   업체명     200 non-null    object
 1   모델명     200 non-null    object
 2   표시연비    200 non-null    float64
 3   배기량     200 non-null    int64
 4   CO2배출량  200 non-null    int64
 5   등급      200 non-null    int64
 6   연간유류비   200 non-null    int64
 7   구분      200 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 12.6+ KB

In [ ]:
#corr의 절댓값이 1과 가장 가까울수록 밀접한 관련이 있다고 생각하면된다.
corr_matrix = df.corr()
corr_matrix['CO2배출량'].sort_values(ascending=False)

CO2배출량    1.000000
등급        0.769961
연간유류비     0.444809
배기량       0.042285
표시연비     -0.909817
Name: CO2배출량, dtype: float64

In [ ]:
#2차원 행렬로 만들어주기 : column의 개수는 1개, row의 개수는 가지고 있는 데이터 크기만큼(-1)
x = df['표시연비'].values.reshape(-1,1)
print('표시연비',x[:10],sep='\n')

y = df['CO2배출량'].values.reshape(-1,1)
print('CO2배출량',y[:10],sep = '\n')

표시연비
[[16.7]
 [21.1]
 [19.5]
 [17.2]
 [17.1]
 [18.8]
 [20.8]
 [20.5]
 [19.1]
 [16.7]]
CO2배출량
[[111]
 [ 74]
 [ 81]
 [108]
 [109]
 [ 84]
 [ 75]
 [ 76]
 [ 82]
 [ 96]]

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2)
print('학습데이터의 샘플 수:', len(x_train))
print('평가데이터의 샘플 수:', len(x_test))

학습데이터의 샘플 수: 160
평가데이터의 샘플 수: 40

In [ ]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(x_train.reshape(-1,1),y_train)
y_pred = lr.predict(x_train.reshape(-1,1))

for i in range(10):
  print(f'실제:{y_train[i]} 예측:{y_pred[i]}')

실제:[119] 예측:[128.7363899]
실제:[111] 예측:[104.92388781]
실제:[109] 예측:[101.26042595]
실제:[109] 예측:[125.07292804]
실제:[125] 예측:[119.57773525]
실제:[134] 예측:[127.82052443]
실제:[125] 예측:[120.49360071]
실제:[109] 예측:[103.09215688]
실제:[97] 예측:[108.58734967]
실제:[135] 예측:[128.7363899]

In [ ]:
lr.score(x_train,y_train)

0.8397379202711559

In [ ]:
lr.score(x_test, y_test)

0.7649826758261843